.containerCard {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.containerCard > div {
  width: calc(25% - 10px);
  margin: 5px;
  overflow: hidden;
  box-shadow: 0 1px #999;
}

.img {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
