.customModal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: transparent;
}

.modalContent {
  position: relative;
  width: 80%;
  max-height: 80%;
  background-color: rgba(51, 42, 42, 0.219);
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
